.fe-login-page {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--fe-auth-background, var(--color-white));
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    overflow: auto;
}

.fe-login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 90%;
    min-height: 300px;
    box-shadow: 0 1.4px 4.5px rgba(0, 0, 0, 0.016), 0 4.3px 12.5px rgba(0, 0, 0, 0.032),
        0 10.3px 30.1px rgba(0, 0, 0, 0.055), 0 29px 100px rgba(0, 0, 0, 0.14);
    background: var(--fe-auth-container-background, var(--color-white));
    border-radius: var(--fe-auth-container-border-radius, 0.5rem);
    padding: var(--fe-auth-container-paddig, 2rem);
    width: var(--fe-auth-container-width, 400px);
}

.fe-login-header {
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem;
    align-items: center;
    overflow-x: hidden;

    > * {
        max-width: 100%;
        max-height: 50px;
    }
}

.fe-login-header {
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem;
    align-items: center;
    overflow-x: hidden;

    > * {
        max-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .fe-login-page {
        padding-top: 10vh;
        justify-content: flex-start;

        .fe-login-container {
            box-shadow: none;
        }
    }
}

.fe-section-title {
    color: var(--color-gray-7);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.fe {
    &-flex {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: center;
    }

    &-full-width {
        width: 100%;
    }

    &-flex-no-wrap {
        flex-wrap: nowrap;
    }

    &-flex-spacer {
        flex: 1;
    }
}

.fe-login-component,
.fe-forgot-password-component,
.fe-accept-invitation-component,
.fe-activate-account-component {
    flex: 1;
    display: flex;
    flex-direction: column;

    .fe-recover-two-factor {
        a {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__back-to-login {
        margin-top: 1rem;
    }

    .ui.loader.inline {
        display: block;
        margin: 2rem auto 1rem;
    }

    &__back-to-sign-up-link {
        cursor: pointer;
        color: var(--color-primary);

        &:hover {
            color: var(--color-primary-75);
        }
    }

    .v-text-field > .v-input__control > .v-input__slot {
        &:before,
        &:after {
            content: none;
        }
    }
    .v-input {
        &.v-text-field.error--text,
        &.error--text {
            border-color: var(--color-danger);
            color: var(--color-danger);

            input {
                color: var(--color-danger);
            }
            .v-messages__message {
                color: var(--color-danger);
                padding: 6px 0;
            }
        }
    }
    .v-input__slot {
        --size-font-size: var(--element-font-size-lg);
        --size-border-radius: var(--element-border-radius-sm);
        height: var(--size-height);
        font-size: var(--size-font-size);
        border-radius: var(--size-border-radius);
        padding: 0;
        overflow: hidden;
        display: inline-flex;
        position: relative;
        vertical-align: middle;
        align-items: center;
        height: var(--element-height);
        width: 100%;
        border-radius: var(--element-border-radius-sm);
        background-color: var(--color-white);
        color: var(--color-gray-8);
        border: 1px solid var(--element-border-color);
        padding-right: 8px;

        input {
            padding: 4px 8px;
        }
    }
}
