.v-overlay__scrim {
  background-color: var(--color-black-10);
}
.fe-modal.v-dialog {
  font-family: "Nunito Sans", Helvetica Neue, Arial, Helvetica, sans-serif;
  .v-card {
    &__title {
      display: flex; 
      justify-content: space-between;
      color: var(--color-gray-8);
      padding: 0 2rem;
      height: 4.5rem;
      border-bottom: 1px solid var(--element-divider-color);
    }
    &__actions {
      padding: 1.5rem 2rem;
      justify-content: space-between;
      background: var(--color-gray-0);
    }
    .v-btn--icon {
      width: fit-content;
      .v-icon{
        cursor: pointer;
        border: 0;
        background: transparent;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 0.2;
        text-decoration: none;
        outline: none;
        &:before {
          font-weight: 700;
        }
        &:hover{
          opacity: 1;
    
        }
      }
    }
  }
  .headline {
    font-size: 1.1rem !important;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: inherit !important;
  }
  .v-btn.fe-button {
    text-transform: none;
    &.fe-button-disabled {
      color: var(--color-gray-6)
    }
    &.fe-button-primary {
      color: white
    }
  }
  .fe-form {
    padding: 2rem;
    .v-input {
      padding: 0;
      &__slot {
        margin-bottom: 0;
        &:before, &:after{
          display: none;
        }
      }
    }
    .v-messages {
      display: none;
      &.error--text {
        display: block;
        margin-top: 5px;
      }
    }

    .v-text-field__slot{
      overflow: hidden;
      display: inline-flex;
      position: relative;
      vertical-align: middle;
      align-items: center;
      font-family: var(--element-font-family);
      font-size: var(--element-font-size);
      height: var(--element-height);
      width: 100%;
      border-radius: var(--element-border-radius-sm);
      background-color: var(--color-white);
      color: var(--color-gray-8);
      border: 1px solid var(--element-border-color);
      --size-height: var(--element-height-lg);
      --size-font-size: var(--element-font-size-lg);
      height: var(--size-height);
      font-size: 14px;

    }
    .input-error .v-text-field__slot{
      border-color: var(--color-danger);
      color: var(--color-danger);
    }
    input {
      padding: 0 var(--element-padding);
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: inherit;
      font-family: inherit;
      color: inherit;
      font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  }
  
}
  
  
  